* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

div {
    border: 1px solid white;
} 


.wrap{
    display: flex;
    flex-direction: column;
}

/* NavBar */

.header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 80px;
    min-height: 60px;
    align-items: center;
    background-color: white;
    z-index: 1;
}

.header div {
    float: left;
    text-align: center;
}

.header-logo {
    flex-shrink: 0;
    padding: 20px;
    border-right: 1px solid #ededed;
}

.haeder-left {
    flex-shrink: 2;
    flex-grow: 2;
}

.header-left div {
    font-size: 22px;
    padding:22px 40px;
    border-right: 1px solid #ededed;
}

.header-right {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 1;
    flex-grow:1;
    align-content: flex-end;
}

.header-right div{
    padding:22px 20px;
}

/* section */

.section {
    width: 100%;
}

.section-main{
    display:flex;
    flex-shrink: 1;
    background-image: url('/JSpractice-1/static/back.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    z-index:999;
    max-width: 100%;
    height: 1000px;
}

.section-main-content {
    background-attachment: fixed;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 400px auto;
    color:white;
    text-align: center;
    font-size:50px;
}

.section-main-margin{
    flex-grow:1;
    flex-shrink: 1;
}

.section-main-content-title{

}

.section-main-content-box{
    display: flex;
    flex-direction: row; 
    margin: 0 auto;
    justify-content: center;
}

.section-main-content-box > div {
    float: left;
    padding: 100px 200px;
}

.section-main-content-personal{
    flex-basis: 200px;
    margin-right: 10px;
}

.section-main-content-company{
    flex-grow: 2;
    flex-basis: 200px;    
    margin-left: 10px;
}

.section-second {
    background-color: white;
    height: 1000px;
    z-index:1;
}