* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* div {
    border: 1px solid white;
}  */


.wrap{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 80px;
    min-height: 60px;
    align-items: center;
    background-color:silver;
}

.header div {
    float: left;
    padding: 30px 30px;
}

.header-logo {
    flex-shrink: 0;
    border-right: 1px solid gray;
}

.haeder-left {
    flex-shrink: 2;
    flex-grow: 1;
}

.header-left div {
    padding:30px 40px;
    font-size: 22px;
    border-right: 1px solid gray;
}

.header-right {
    display: flex;
    flex-direction: row-reverse;
    
    flex-shrink: 1;
    flex-grow:1;
    align-content: flex-end;
}

.header-right div{

}

